.content {
    max-width: 800px;
    margin: auto;
}

.header {
    text-align: center;
    padding: 60px;
    background-color: lightgray;
    color: gray;
    font-size: 15px;
    font-family: "Julius Sans One", sans-serif;
}
